<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

  <Package
    Name="RB4InstrumentMapper"
    Language="1033"
    Version="5.0.2.0"
    Manufacturer="Andreas Schiffler"
    UpgradeCode="94bef546-701f-4571-9828-d4fa39b2ea84"
    InstallerVersion="200"
    Scope="perMachine">

    <MajorUpgrade AllowSameVersionUpgrades="yes"
      DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />
    <MediaTemplate EmbedCab="yes"/>

    <Icon Id="FILE_Iconico" SourceFile="$(ResourcesDir)Icon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="FILE_Iconico" />

    <ui:WixUI Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="$(ResourcesDir)license.rtf" />
    <WixVariable Id="WixUIDialogBmp" Value="$(ResourcesDir)dialog.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="$(ResourcesDir)banner.bmp" />

    <Feature Id="ProductFeature" Title="MsiInstaller" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="DesktopShortcut" />
      <ComponentRef Id="StartMenuShortcut" />
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="RB4InstrumentMapper" />
    </StandardDirectory>
    <StandardDirectory Id="DesktopFolder" />
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="RB4InstrumentMapper" />
    </StandardDirectory>
  </Fragment>
  
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Files Include="$(RB4InstrumentMapper.TargetDir)\**">
        <Exclude Files="$(RB4InstrumentMapper.TargetDir)\publish\**" />
      </Files>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <Icon Id="Icon.ico" SourceFile="$(ResourcesDir)Icon.ico" />
    <Component Id="DesktopShortcut" Directory="INSTALLFOLDER" Guid="BC673EF6-B5A1-4AA3-BAC4-EC0BAEBB6B98">
      <RegistryValue Id="RegShortcutDesktop"
              Root="HKCU"
              Key="Software\AndreasSchiffler\RB4InstrumentMapper"
              Name="DesktopShortcut"
              Value="1"
              Type="integer"
              KeyPath="yes" />
      <Shortcut Id="DesktopShortcut"
              Target="[INSTALLFOLDER]RB4InstrumentMapper.exe"
              WorkingDirectory="INSTALLFOLDER"
              Directory="DesktopFolder"
              Icon="Icon.ico"
              Name="RB4InstrumentMapper"
              Advertise="no" />
      <RemoveFile Id="RemoveDesktopShortcut"
              Directory="DesktopFolder"
              Name="RB4InstrumentMapper"
              On="uninstall" />
    </Component>
    <Component Id="StartMenuShortcut" Directory="INSTALLFOLDER" Guid="9E3ED7F2-4298-4334-9936-BC9983EEBAC7">
      <RegistryValue Id="RegShortcutStartMenu"
              Root="HKCU"
              Key="Software\AndreasSchiffler\RB4InstrumentMapper"
              Name="StartMenuShortcut"
              Type="integer"
              Value="1"
              KeyPath="yes" />
      <Shortcut Id="StartMenuShortcut"
              Target="[INSTALLFOLDER]RB4InstrumentMapper.exe"
              WorkingDirectory="INSTALLFOLDER"
              Directory="ApplicationProgramsFolder"
              Icon="Icon.ico"
              Name="RB4InstrumentMapper"
              Advertise="no" />
      <RemoveFolder Id="RemoveStartMenuShortcut"
              Directory="ApplicationProgramsFolder"
              On="uninstall" />
    </Component>
  </Fragment>

</Wix>
